header {
    height: 100px;
    background-color: #4EA0FF;
    background-image: url('img/pattern.png');
    background-size: 30%;
}
#main-logo {
    height: 60px;
    bottom: 100%;
}
h1 {
    font-size: 2em;
}

.gray-text {
    color: #7E7E7E;
}

.author-link {
    text-decoration: none;
    color: #24AAE5;
}

.NoSpaceBox {
    border-collapse: collapse;
}

thead {
    background-color: #20A9E5;
    color: white;
    text-align: left;
}

.oddrow {
    background-color: #B1E5F2;
}

.last-cell-width {
    width: 50%;
}

